{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <link rel="stylesheet" href="{% static 'weather\main.css' %}">
</head>
<body>

    <div class="mainRow">
    <div class="col logo"><p>Weather & Road Risk</p></div>
    <div class="col forms_div">
        <form method="GET">
            {% csrf_token %}
            {% for forms in form  %}
            {{forms}}{% endfor %}<input type="submit" value="Search City">
        </form>
    </div>
</div>
<div class="mainRow">
<div class="col weatherMenu">
    <ul>
        <li><a href="{% url 'Weather:index' %}">Today</a></li>
        <li><a href="">Hourly</a></li>
        <li><a href="">WeekEnd</a></li>
        <li><a href="">Monthly</a></li>
        <li><a href="">Radar Map</a></li>
    </ul>
</div>
</div>

<div class="weatherWrapper">
<div class="mainRow">
<div class="col WeatherContainer">
    {% for weathers  in weather %}
        <p>{{weathers.currentName}},&nbsp;{{weathers.currentCounrty}}&nbsp; As Of&nbsp;{{weathers.currentTime}}</p>
    <p><span class="humidity">{{weathers.currentTemp}}<sup>o</sup></span><img src="http://openweathermap.org/img/w/{{weathers.currentWeatherIcon}}.png"></p>
    <p>{{weathers.currentWeatherdesc}}</p>
    <p>Day&nbsp;{{weathers.dailytempDay}}<sup>o</sup>&nbsp;&nbsp;. Night&nbsp;{{weathers.dailytempNight}}<sup>o</sup></p>


{% endfor %}
</div>

<div class="col RoadRisk"></div>
</div>

<div class="mainRow">
    <div class="col  WeatherContainer">
{% for weathers in weather  %}
<h4>Today's Forecast For {{weathers.currentName}} </h4>

  <div class="col weather-item">
      <h5>Morning</h5>
      <p><span>{{weathers.dailytempMorn}}<sup>o</sup></span></p>
      <p><img src="http://openweathermap.org/img/w/{{weathers.dailyWeatherIcon}}.png"></p>
      <p>{{weathers.dailyHumidity}}%</p>
    </div>
  <div class="col weather-item">
      <h5>Afternoon</h5>
      <p><span>{{weathers.dailytempEve}}<sup>o</sup></span></p>
      <p><img src="http://openweathermap.org/img/w/{{weathers.dailyWeatherIcon}}.png"></p>
      <p>{{weathers.dailyHumidity}}%</p>
      
    
    </div>
  <div class="col weather-item">
      <h5>Evening</h5>
      <p><span>{{weathers.dailytempEve}}<sup>o</sup></span></p>
      <p><img src="http://openweathermap.org/img/w/{{weathers.dailyWeatherIcon}}.png"></p>
      <p>{{weathers.dailyHumidity}}%</p>
    
    
    </div>
  <div class="col weather-item">
      <h5>Night</h5>
      <p><span>{{weathers.dailytempNight}}<sup>o</sup></span></p>
      <p><img src="http://openweathermap.org/img/w/{{weathers.dailyWeatherIcon}}.png"></p>
      <p>{{weathers.dailyHumidity}}%</p>

    {% endfor %}
</div>
        
</div>
    
    </div>
<!--end of today's forecast-->   
<div class="Todays_weather">
    {% for weathers in weather %}
<h2>Weather Today in {{weathers.currentName}},&nbsp;{{weathers.currentCounrty}}</h2>

    <div class="mainRow">
        <div class="col feel">
            <p><span style="font-size:60px;">{{weathers.dailyFeelsDay}}<sup>o</sup></span>
            <br>Feels Like
        </p>
    </div>
            <div class="feel_image">
                <p><img src="http://openweathermap.org/img/w/{{weathers.dailyWeatherIcon}}.png"></p>
                
                
            </div>
        </div>
<div class="mainRow">
    <div class="col levels1">
        <table>
            <tr>
                <td>High/Low</td>
                <td>{{weathers.dailytempMax}}<sup>o</sup>/{{weathers.dailytempMin}}<sup>o</sup></td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{weathers.dailyHumidity}}%</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>{{weathers.dailyPresure }} mb</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>{{weathers.currentVisibility}} km</td>
            </tr>
            

        </table>
    </div>

    <div class="col levels2">
        <table>
            <tr>
                <td>Wind</td>
                <td>{{weathers.dailyWind}} km/h</td>
            </tr>
            <tr>
                <td>Dew Points</td>
                <td>{{weathers.dailyDew}}%</td>
            </tr>
            <tr>
                <td>Uv index</td>
                <td>{{weathers.Currentuvi}}</td>
            </tr>
            <tr>
                <td>Moon Phase</td>
                <td>{{weathers.dailyMoon}}km</td>
            </tr>
            

        </table>
    </div>
</div>
{% endfor %}
</div><!--end of todays weather--> 









</div><!--end of weatherwrapper -->






</body>
</html>